<h2>Demande de support</h2>

<form [formGroup]="requestForm" (ngSubmit)="onRequestSent(requestForm.value)">
	<fieldset>
		<div>
			<label for="lastname">
			  Nom
			</label>
			<input id="lastname" type="text" formControlName="lastname" [(ngModel)]="request.lastname">
		</div>

		<div>
			<label for="firstname">
			  Prénom
			</label>
			<input id="firstname" type="text" formControlName="firstname" [(ngModel)]="request.firstname">
			</div>

		<div>
			<label for="email">
			  Courriel
			</label>
			<input id="email" type="text" formControlName="email" [(ngModel)]="request.email">
		</div>

		<div>
			<label for="phone">
			  Téléphone
			</label>
			<input id="phone" type="text" formControlName="phone" [(ngModel)]="request.phone">
		</div>

		<div>
			<label for="onsite">
			  Assistance sur place
			</label>
			<select id="onsite" name="onsite" formControlName="onsite" [(ngModel)]="request.onsite">
				<option value="no" selected>No</option>
				<option value="yes">Yes</option>
			</select>
		</div>

		<div>
			<label for="description">
			  Demande
			</label>
			<textarea id="description" cols="40" rows="6" formControlName="description" [(ngModel)]="request.description"></textarea>
		</div>

	</fieldset>
	<button class="button" type="submit"> Save </button>
	<button class="button" type="submit" (click)="gotoRequests()"> Cancel </button>
</form>
